body {
    font-family: serif;
    margin: 0;
    padding: 0;
    color: navy;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 55px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(30, 56, 85);
    font-weight: bold;
}

/* Change the color of the links on hover */
nav ul li a:hover {
    background-color: rgba(154, 198, 242, 0.8);
    border-radius: 10px;
    padding: 2px;

}

main {
    position: relative;
    text-align: center;
    color: white;
}

.executive-council {
    position: relative;
    margin-bottom: 20px;
}

.executive-council img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(100, 150, 200, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.overlay h1 {
    margin: 0;
    font-size: 60px;
}
